body {
    background-color: aquamarine;
    color: whitesmoke;
}
h1 {
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: blanchedalmond;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    align-content: center;
}